<template>
  <div class="flex flex-row gap-2 h-full items-center mt-6">
    <div class="flex flex-col text-center h-full" :class="splitScreen()">
      <div v-if="chienPending">
        <v-progress-circular indeterminate></v-progress-circular>
      </div>
      <div v-else class="">
        <v-avatar
          :image="chien.chien.photos[0].url"
          size="200"
          class="border-2 border-black"
        ></v-avatar>
        <h1 class="text-3xl font-bold">{{ chien.chien.name }}</h1>
        <p class="text-xl mt-6">{{ chien.chien.description }}</p>
        <p class="mt-6">
          <span
            class="text-xl border-2 w-36 rounded-xl p-2"
            :class="getGradeColorFrom0To20(chien.chien.note)"
          >
            Note : {{ chien.chien.note }} / 20
          </span>
        </p>
      </div>
    </div>
    <div
      v-if="filteredArticles.length > 0"
      class="flex flex-col w-1/2 text-center"
    >
      <span class="text-xl font-bold">
        On a trouvé des choses intéressantes à son sujet, checkez ça :
      </span>
      <div>
        <v-list-item v-for="article in filteredArticles" :key="article.id">
          <ArticleLink
            :articleSlug="article.slug"
            :articleTitle="article.title"
          />
        </v-list-item>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRoute } from "vue-router";
import getChienBySlug from "~~/cms/queries/chien/getChienBySlug";
import allArticles from "~~/cms/queries/article/allArticlesChien";

const splitScreen = () => {
  return filteredArticles.length > 0 ? "w-1/2" : "w-full";
};

// J'ai du redéclarer ma fonction ici, sinon elle n'était pas reconnue depuis /utils/
const getGradeColorFrom0To20 = (grade) => {
  if (grade < 5) {
    return "text-red-500";
  } else if (grade < 10) {
    return "text-orange-500";
  } else if (grade < 15) {
    return "text-yellow-500";
  } else if (grade < 20) {
    return "text-green-500";
  } else {
    return "text-blue-500";
  }
};

const route = useRoute();

definePageMeta({
  layout: "layout-2",
});

const { data: chien, pending: chienPending } = await useLazyAsyncQuery(
  getChienBySlug,
  { slug: route.params.slug }
);

const { data: articles, pending: articlesPending } = await useLazyAsyncQuery(
  allArticles
);

const filterArticlesByChienSlug = (articles, chienSlug) => {
  return articles.filter((article) =>
    article.chiens.some((chien) => chien.slug === chienSlug)
  );
};

const filteredArticles = filterArticlesByChienSlug(
  articles.value.allArticleChiens,
  route.params.slug
);

const ellipsisString = (chaine) => {
  if (chaine.length > 135) {
    return chaine.slice(0, 135) + "...";
  } else {
    return chaine;
  }
};

useServerSeoMeta({
  title: chien.value.chien.name,
  ogTitle: chien.value.chien.name,
  description: ellipsisString(chien.value.chien.description),
  ogDescription: ellipsisString(chien.value.chien.description),
  ogImage: chien.value.chien.photos[0].url,
  twitterCard: "summary_large_image",
});
</script>
