<template>
  <div v-if="chiensPending">
    <v-progress-circular indeterminate></v-progress-circular>
  </div>
  <div v-else class="w-full p-6">
    <v-list class="flex flex-row flex-wrap">
      <v-list-item
        v-for="chienAll in chiens.allChiens"
        :key="chienAll.id"
        :prependAvatar="chienAll.photos[0].url"
        class="w-1/2"
      >
        <ChienLink
          :chienSlug="chienAll.slug"
          :chienName="chienAll.name"
          :details="true"
        />
      </v-list-item>
    </v-list>
  </div>
</template>

<script setup>
import allChiens from "~~/cms/queries/chien/allChiens";

const { data: chiens, pending: chiensPending } = await useLazyAsyncQuery(
  allChiens
);

useHead({
  title: "Tous les chiens",
  meta: [
    {
      name: "Tous les chiens",
      content:
        "Bienvenue sur ToutouChienChien, découvrez ces merveilleux personnages canins.",
    },
  ],
});
</script>
