<template>
  <NuxtLink
    :to="{
      name: 'article-slug',
      params: {
        slug: articleSlug
          ? articleSlug
          : 'on-a-trouve-le-chien-le-plus-gourmand-de-lannee',
      },
    }"
  >
    <span class="font-italic mr-2 text-xl"> Article vers </span>
    <span class="font-bold text-orange-400 hover:animate-pulse text-2xl">{{
      articleTitle
    }}</span>
  </NuxtLink>
</template>

<script setup>
const props = defineProps(["articleSlug", "articleTitle"]);
</script>
