<template>
  <NuxtLink
    :to="{
      name: 'chien-slug',
      params: {
        slug: chienSlug ? chienSlug : 'patrick-le-chien-trop-style',
      },
    }"
  >
    <a class="text-2xl">
      <span class="font-italic mr-2 text-xl">{{
        details ? "Détails à propos de" : ""
      }}</span>
      <span class="font-bold text-orange-400 hover:animate-pulse">{{
        chienName
      }}</span>
    </a>
  </NuxtLink>
</template>

<script setup>
const props = defineProps(["chienSlug", "chienName", "details"]);
</script>
