<template>
  <v-toolbar color="#f1964d" style="height: 10vh">
    <v-toolbar-title class="white--text">
      <div class="mamae">
        <NuxtLink to="/">
          <div class="flex flex-row gap-6 hover:animate-pulse">
            <img class="w-16 ml-6 mt-3" src="../assets/logo.png" width="80px" />
            <h1 class="text-3xl font-bold self-center">ToutouChienchien</h1>
          </div>
        </NuxtLink>
      </div>
    </v-toolbar-title>

    <v-toolbar-items>
      <span class="self-center font-bold mr-2">Fait avec</span>
      <v-btn
        href="https://www.datocms.com/"
        target="_blank"
        class="hover:animate-pulse"
        >DatoCMS</v-btn
      >
      <v-btn
        href="https://nuxt.com/"
        target="_blank"
        class="hover:animate-pulse"
        >Nuxt 3</v-btn
      >
      <v-btn disabled>Via M2 DEV - cours dirigé par E. Cotin</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>
