<template>
  <div v-if="articlePending">
    <v-progress-circular indeterminate></v-progress-circular>
  </div>
  <div v-else class="flex flex-col p-6 items-center">
    <h1 class="text-3xl font-bold py-4">{{ fetchedArticle.title }}</h1>
    <div class="flex flex-col gap-4">
      <h2>Le(s) concerné(s) :</h2>
      <div class="flex flex-row mb-4 flex-wrap">
        <div
          v-for="chien in fetchedArticle.chiens"
          :key="chien.id"
          class="px-2"
        >
          <NuxtLink
            :to="{
              name: 'chien-slug',
              params: {
                slug: chien.slug ? chien.slug : 'patrick-le-chien-trop-style',
              },
            }"
          >
            <img
              :src="chien.photos[0].url"
              class="w-20 rounded-full object-contain hover:animate-spin hover:scale-110"
            />
          </NuxtLink>
        </div>
        <!-- display images[0] of all chiens with a <img> -->
      </div>
    </div>
    <p class="text-xl mb-36 w-3/4">{{ fetchedArticle.description }}</p>
    <div>
      <h3>On en a parlé dans cet article :</h3>
      <div v-if="fetchedArticle.chiens.length > 0">
        <div v-for="chien in fetchedArticle.chiens" :key="chien.id">
          <ChienLink
            :chienSlug="chien.slug"
            :chienName="chien.name"
            :details="false"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import getArticleBySlug from "~~/cms/queries/article/getArticleBySlug";
const route = useRoute();

const { data: article, pending: articlePending } = await useLazyAsyncQuery(
  getArticleBySlug,
  { slug: route.params.slug }
);

const fetchedArticle = article.value.articleChien;

const ellipsisString = (chaine) => {
  if (chaine.length > 135) {
    return chaine.slice(0, 135) + "...";
  } else {
    return chaine;
  }
};

useServerSeoMeta({
  title: fetchedArticle.title,
  ogTitle: fetchedArticle.title,
  description: ellipsisString(fetchedArticle.description),
  ogDescription: ellipsisString(fetchedArticle.description),
  ogImage: fetchedArticle.chiens[0].photos[0].url,
  twitterCard: "summary_large_image",
});
</script>
