<template>
  <div v-if="allArticlesPending">
    <v-progress-circular indeterminate></v-progress-circular>
  </div>
  <div v-else class="w-full p-6">
    <v-list class="flex flex-row flex-wrap">
      <v-list-item
        v-for="article in allArticles.allArticleChiens"
        :key="article.id"
        class="w-1/2"
      >
        <ArticleLink
          :articleSlug="article.slug"
          :articleTitle="article.title"
        />
      </v-list-item>
    </v-list>
  </div>
</template>

<script setup>
import allArticleChiens from "~~/cms/queries/article/allArticlesChien";

const { data: allArticles, pending: allArticlesPending } =
  await useLazyAsyncQuery(allArticleChiens);

useHead({
  title: "Tous les articles",
  meta: [
    {
      name: "Tous les articles",
      content:
        "Bienvenue sur ToutouChienChien, découvrez ces merveilleuses histoire sur ces toutous.",
    },
  ],
});
</script>
