<template>
  <div class="w-full flex flex-col">
    <div class="flex flex-col items-center justify-center gap-8 mt-10 mb-36">
      <h1 class="text-3xl font-bold">Bienvenue sur ToutouChienChien</h1>
      <h2 class="text-2xl">
        Découvrez les aventures des toutous présents sur le site
      </h2>
      <h2 class="text-xl">
        Naviguez parmi les personnages ou feuilletez les articles parlant d'eux
      </h2>
    </div>
    <div class="flex flex-row gap-8 w-full items-center justify-center">
      <v-btn>
        <NuxtLink
          :to="{
            name: 'chien-chiens',
          }"
        >
          Vers tous les chiens
        </NuxtLink>
      </v-btn>
      <v-btn variant="outlined" color="orange">
        <NuxtLink
          :to="{
            name: 'article-articles',
          }"
        >
          Vers tous les articles
        </NuxtLink>
      </v-btn>
    </div>
  </div>
</template>

<script setup>
useHead({
  title: "ToutouChienChien",
  meta: [
    {
      name: "ToutouChienChien",
      content:
        "Bienvenue sur ToutouChienChien, découvrez les aventures de ces merveilleux personnages canins.",
    },
  ],
});
</script>
